@model IEnumerable<QuizExam.Data.Quiz>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quizID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Quiz @item.quizID

        </td>
        <td>
            @Html.ActionLink( " pass quiz ", "answerQuiz", new { quizId= item.quizID }) |
            @Html.ActionLink( " revise quiz ", "Revise", new { quizId= item.quizID })
        </td>
    </tr>
}

</table>