@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <p>
            <a href="@Url.Action("Create", "Quizs" )">
                <span>Generer un nouveau quiz</span>
            </a>
        </p>
        <p>
            <a href="@Url.Action("PassQuiz","Quizs" )">
                <span>Passer un quiz</span>
            </a>
        </p>
        <p>
            <a href="@Url.Action("Revise", "Quizs" )">
                <span>Reviser un quiz</span>
            </a>
        </p>
        
        
    </div>
   

</div>